.logo {
  width: 100px;
}

.message {
  color: blue;
}

.message:hover {
  background-color: yellow;
}
.addSkills{
  display: flex;  
  width: 65%;
  margin-bottom: 20px;
}
.stu-profile{
  margin-left: 490px;

}